 * {
    font-family: 'Montserrat Alternates', sans-serif;
 }
 
 .masthead nav{
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    min-width: none;
    max-width: none;
}
 
 nav {
    width: 100%;
    height: 100px;
    line-height: 80px;
    padding: 0px 10px;
    position: fixed;
    background-color: #3A668C;
    /* margin?????? */
    margin:-8px;
    padding: 10px;
   
}

nav .logo p{
    font-size: 25px;
    font-weight: bold;
    float: left;
    float: top;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    margin:auto;
    
   
}

nav ul {
    float: right;
    margin:0px;
    padding: 0px;
}

nav li {
    display: inline-block;
    list-style: none;
    margin:0px;
    padding: 0px;
}

nav li a {
    color: whitesmoke;
    font-size: 16px;
    text-transform: uppercase;
    padding: 30px 30px;
    color: #AEB693;
    text-decoration: none;
    
}

nav li a:hover {
    cursor: pointer;
    color: #FF724F;
    transition: all 0.4s ease 0s;
    margin:0px;
    padding: 0px;
}

.search {
    display: inline-block;
    Float: left;
    margin: 0;
    padding-left: 15px;
    padding-bottom: 0px;
    width: auto;
}

/* .welcomeheader {
    display: inline-block;
    justify-content: center;
    background-color: whitesmoke;
    height: 200px;
    width: 300px;
    margin: none;
    padding-top: 150px;
    border: #FDB92E solid 4px;
}  */

grid {
    align-items: center;
}

.welcome p{
    background-color: #FEF5DA;
    color: black;
    position: relative;
    margin: 0px 200px;
    padding: 20px 20px;
    overflow-wrap: normal;
    border: #3A668C solid 5px;
    width: 60%;
    height: auto;
    text-align: center; 
    font-size: larger; 
}

 .welcomeheader {
    display: inline-block;
    justify-content: center;
    background-color: whitesmoke;
    height: 100px;
    width: 300px;
    margin-top: 150px;
    margin-left: 200px;
    padding-top: 0px;
    border: #FDB92E solid 4px;
} 

h1 {
    text-align: center;
    color: #3A668C;
    text-transform:lowercase
}


 .foot {
    position: inherit;
    padding: 10px;
    margin: 20px;
    display: inline;
    box-sizing: border-box;
    color: #FEF5DA;
    
    
}

.bottomfoot {
    position: absolute;
    background-color: #3A668C;
    border: #3A668C solid;
    text-align: center;
    padding-top: 20px;
    min-width: none;
    max-width: none;
    width: 100%;
    height: 4%;
    padding-bottom: 20px;
    margin-left: -10px;
    margin-bottom: -10px;
}